<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="revolute_joint" params="name">
    <joint name="${name}" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="1000.0" lower="${-3/4*pi}" upper="${3/4*pi}" velocity="0.5" />
        <origin rpy="0 0 0" xyz="${joint1}"/>
        <parent link="base_link"/>
        <child link="link1"/>
    </joint>
  </xacro:macro>
</robot>
