<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <group ns="/predator">
        
        <!-- Robot model -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find predator_description)/urdf/predator.xacro'" />
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0.03"/>
        
        <!-- Spawn the robot model -->
        <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param robot_description -model predator -x $(arg x) -y $(arg y) -z $(arg z)" />

        <rosparam command="load" file="$(find predator_description)/config/joints.yaml" />
        
        <!-- Controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" ns="/predator"
            args="--namespace=/predator
            joint_state_controller
            shoulder_azimuth_joint_position_controller
            shoulder_elevation_joint_position_controller
            elbow_pivot_joint_position_controller
            wrist_pitch_joint_position_controller
            wrist_yaw_joint_position_controller
            --timeout 60">
        </node>

    </group>
          
</launch>